@model IEnumerable<Internet.Models.Test>

@{
    ViewBag.Title = "Все тесты (прохождение)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Все тесты (прохождение)</h3>

<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>
            Название теста
        </th>
        <th>
            Описание теста
        </th>
        <th>
            Категория
        </th>
        <th>
            Автор
        </th>
        <th>
            Сложность
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.ToList())
{
    if(item.Approved){
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TestName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TestDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TestCategory.CategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TestAuthor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Difficulty.DifficultyName)
        </td>
        <td>
            <a href = "@Url.Content("~/TestPassing/Test/" + item.ID.ToString())" class="btn btn-mini btn-success"> Пройти</a>
        </td>
    </tr>
    }
}


</table>
